.delete-work-error{
    width: 100%;
    padding-top: 54px;
    text-align: center;
}

.delete-work-error-title{
    margin: 48px 0;
    font-size: 20px;
    color: #333333;
}

.delete-work-error-text{
    width: 290px;
    height: 300px;
    margin: 0 auto;
    background: url("../images/404/delete-icon.png") no-repeat center 88px #FFFFFF;
}

.delete-work-error-text span{
    padding-top: 200px;
    font-size: 14px;
    color: #333333;
    display: block;
}

.delete-work-error-other{
    background-color: #f3f3f3;
    width: 300px;
    height: 146px;
    margin: 0 auto;
    line-height: 146px;
}

.delete-work-error-other a{
    cursor: pointer;
    font-size: 14px;
    color: #459ae9;
}